body{
    text-align: center;
    background-image: url(http://ronsmovieprops.com/uploads/3/4/4/0/34409149/5437849.png);
    background-size: cover;
    padding-top: 150px;
    color: darkblue;
    text-size-adjust: 50px;
}

.var{
    color: darkblue;
}


