body{
    text-align: center;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/81AMkZqdU5L._SX425_.jpg);
    background-size: cover;
    padding-top: 150px;
    color: red;
    text-size-adjust: 50px;
}

.var{
    color: red;
}


